.project-page-header-content {
    display: grid;
    grid-template-areas:
        'name'
        'created-at';

    >.name {
        grid-area: name;
    }

    >.created-at {
        grid-area: created-at;
    }
}

.project-page-content {
    padding: 0.4em;
}

table {
    width: 100%;
}